img.avatar{
    width:90%;
    height: 525px;
    margin-left:210px;
    /* margin-bottom: 10px; */
}
/* .row{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMtRSSnhfc4LYPDNF0jlYEnPXH1lUKKOAvzdSMKzSLneQtZV6SNppsVJXP4eJsbOaQUVI&usqp=CAU");
} */