<div class="row">

<app-navbar></app-navbar>

<div class="card text-white bg-info mb-0" style="max-width: 60rem;">
    <div class="card-header" style="font-size: 25px;">Our Team</div>
    <div class="card-body">
      <p class="card-text"  style="font-size: 20px;">We are a team of five. We chose Angular framework to develop our project with the help of our mentors. </p>
    </div>
  </div>
  
  <div class="card text-white bg-warning mb-0" style="max-width: 60rem;">
    <div class="card-header"  style="font-size: 25px;">Why Telegram</div>
    <div class="card-body">
      <p class="card-text"  style="font-size: 20px;">Telegram is a secure application which doesn't disclose any
           user information to other users .It's upto the users to share their personal details.</p>
    </div>
  </div>
  <div class="card text-white bg-danger mb-0" style="max-width: 60rem;">
    <div class="card-header" style="font-size: 25px;">Why use our webapplication</div>
    <div class="card-body">
      <p class="card-text"  style="font-size: 20px;">Our main goal is to connect various student across World who are passionate about thier
           goal and want to share and learn from others who share the same dream.</p>
    </div>
  </div>
  </div>