<div class="row">
<form action="action_page.php" method="post">
     <div class="imgcontainer">
      
    <img src="\assets\images\log.jpg" alt="Avatar" class="avatar">
   </div> 
   <div class ="container">
       <h1>Please select one topic 😄 </h1>
       </div>
       <div class="card">
       <div class="input.single-checkbox">


        
<ul>
    <li><input type="radio" name="coding" id="cb1"  value="coding"/>
      <label for="cb1"><img src="\assets\images\t1.png" /></label>
    </li>
    <li><input type="radio" name="my-input" id="cb2" />
      <label for="cb2"><img src="\assets\images\t2.png" /></label>
    </li>
     <li><input type="radio" name="my-input" id="cb3" />
      <label for="cb3"><img src="\assets\images\t3.png" /></label>
    </li>
    <li><input type="radio" name="my-input" id="cb4" />
      <label for="cb4"><img src="\assets\images\t4.png" /></label>
    </li> 
    <li><input type="radio" name="my-input" id="cb5" />
        <label for="cb5"><img src="\assets\images\t5.png" /></label>
      </li> 
      <li><input type="radio" name="my-input" id="cb6" />
        <label for="cb6"><img src="\assets\images\t6.png" /></label>
      </li> 
      <li><input type="radio" name="my-input" id="cb7" />
        <label for="cb7"><img src="\assets\images\t7.png" /></label>
      </li> 
      <li><input type="radio" name="my-input" id="cb8" />
        <label for="cb8"><img src="\assets\images\t8.png" /></label>
      </li> 

  </ul>
       </div>
</div>
  <!-- <button type="button" class="next">Good to go...</button> -->
  <input type="submit" value="Good to go ..." (click)="topics('coding')"> 



</form>
</div>
