.card{
    width:550px;
    height:300px;
    margin-left: 400px;
    margin-top:160px;
    background-color:black;
}

input[type=text], input[type=password] {
    width: 100%;
    /* padding: 0px 50px; */
    font-size:13px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid peachpuff;
    box-sizing: border-box;
    text-align: left;
    
  }
  /* .row{
      background-color: black;
  } */