<div class="row">
<div class="card">
<div class="container pt-5">
  <form [formGroup]="exform" >
      <div class="form-group">
          <label class="col-form-label" style="font-size: 20px; color: white;">Email:</label>
          <input formControlName="email" type="text" class="form-control" placeholder="Email">
          <span *ngIf="email.invalid && (email.touched)" class="text-danger">*Email is Required</span>
        </div>
        <div class="form-group">
          <label class="col-form-label" style="font-size: 20px; color: white;">Password:</label>
         <input type="password" formControlName="password" class="form-control" placeholder="New Password">
           <span *ngIf="password.invalid && (password.touched)" class="text-danger">*New Password is Required of minimum length 4</span>
         </div>
         <br>
         <button (click)="forgotPwd()" [disabled]="exform.invalid" type="button" class="btn btn-warning" style="font-size: 15px; color: white;">Change Password</button>
  </form>
</div>
</div>
</div>