img.avatar1 {
   
     width: 100%; 
     height: 520px;
  } 
   
  img.avatar2 {
   
    width: 93%; 
    height: 520px;
 } 

 img.avatar3{
   
    width: 95%; 
    height: 520px;
 } 
 img.avatar4{
   
    width: 100%; 
    height: 520px;
 } 
  
 
